.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/desktop.ini
.idea/
application/config/desktop.ini
application/controllers/desktop.ini
application/helpers/desktop.ini
application/hooks/desktop.ini
application/language/desktop.ini
application/language/english/desktop.ini
application/libraries/desktop.ini
application/models/desktop.ini
application/third_party/desktop.ini
application/views/desktop.ini
application/views/errors/cli/desktop.ini
application/views/errors/desktop.ini
application/views/errors/html/desktop.ini
system/libraries/Session/desktop.ini
system/libraries/Session/drivers/desktop.ini
user_guide/_downloads/desktop.ini
user_guide/_images/desktop.ini
user_guide/_static/css/desktop.ini
user_guide/_static/desktop.ini
user_guide/_static/fonts/desktop.ini
user_guide/_static/images/desktop.ini
user_guide/_static/js/desktop.ini
user_guide/contributing/desktop.ini
user_guide/database/desktop.ini
user_guide/documentation/desktop.ini
user_guide/general/desktop.ini
user_guide/helpers/desktop.ini
user_guide/installation/desktop.ini
user_guide/libraries/desktop.ini
user_guide/overview/desktop.ini
user_guide/tutorial/desktop.ini
