/*All css stylings of goc*/

@font-face {
    font-family: goc;
    src: url(../fonts/Game_of_Thrones.ttf);
    font-weight: bold;
}
.button {
    border-color: white;
    color: white;
    font-family: goc;
    src: url(../fonts/Game_of_Thrones.ttf);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 6px solid white;
    color: white;
}
.input {
    border-color: white;
    color: white;
    font-family: goc;
    src: url(../fonts/Game_of_Thrones.ttf);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    margin: 5px;
}
body {
    background: url("../images/background_wood_panel.jpeg");
    background-size: cover;
    margin: 0;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}
.title {
    font-family: goc;
    src: url(../fonts/Game_of_Thrones.ttf);
    font-weight: bold;
    color: white;
    text-align: center;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}
/**MENU**/

.menu {
    width: 25%;
    height: auto;
    position: absolute;
    -webkit-transition: all 1s;
    transition: all 1s;
    /*left: 12%;*/
    
    margin-left: 5%;
    /* z-index: 50;*/
    /*overflow-y: auto;*/
    
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    color: white;
    /*margin-top: 2%;*/
}
.menu.closed {
    left: -250px;
}
.text {
    width: 60%;
    margin: auto;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 5%;
        
}
h1,
h2 {
    color: #444;
}
p {
    color: #444;
}
p img {
    float: left;
    margin: 15px;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    /* padding-left: 20px;
  padding-right: 20px;*/
}
.menu ul li {
    color: floralwhite;
    font-size: 14px;
    margin: 0 0 0 0;
    display: block;   
    line-height: 40px;  
    -webkit-transition: all .3s;
    transition: all .3s;
}
.menu ul li:hover {
    background-color: #ff9933;
    cursor: pointer;
}

.username {
    text-align: center;
    font-family: goc;
    src: url(../fonts/Game_of_Thrones.ttf);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding-left: 25%;
    margin: inherit;
}
.menubutton {
    border-color: white;
    color: white;
    font-size: 10px;
    font-family: goc;
    src: url(../fonts/Game_of_Thrones.ttf);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    color: white;
    text-align: left;
}
#ctBtnL {
    vertical-align: middle;
    margin: 1%;
    display: inline-block;
    background-image: url('../images/ct.png');
}
#stBtnL {
    vertical-align: middle;
    margin: 1%;
    display: inline-block;
    background-image: url('../images/st.png');
}
#profileBtnL {
    vertical-align: middle;
    margin: 1%;
    display: inline-block;
    background-image: url('../images/person.png');
}
#helpBtnL {
    vertical-align: middle;
    margin: 1%;
    width: 17%;
    display: inline-block;
    background-image: url('../images/help.png');
}
button em.leftImage {
    background-size: 100% 100%;
    width: 15%;
    height: 40px;
    background-position: 140.112201963534% 973.333333333333%;
}
/*button em.rightImage {
    background-size: 100% 100%;
    width: 15%;
    height: 40px;
    background-position: -64px -16px;
}*/
#userImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#ctimg {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);
    box-shadow: inset 0 0 1px rgba(0,0,0,.8), inset 0 2px 0 rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.4);

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

/*.modal-body {
    background-image: url('../images/paperScroll.png');
    background-repeat: no-repeat;
    background-size: contain;
<<<<<<< HEAD
    height: auto;
=======
    height: 300px;
>>>>>>> ac472075aa84476191873de36209927185959948
    width: auto;
}*/


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 85%;   
    margin: auto;
}
#pubInfo{
  padding-bottom:5%;
  text-align: justify;
  text-justify: inter-word;
  font-family: Arial;
  font-weight: bold;
  color: white;
}
#iphoneMap{
    height: 539px;
    width: 100%;
    margin: 0;
    padding: 0;
}

#ipadMap{
    height: 593px;
    width: 65%;
    margin: 0;
    padding: 0;
}
.form-check-label {
    color: white;
    font-family: Arial;
    font-size: 24px;
    margin-bottom: 0px;
}

.search {
	padding:6px 15px 6px 30px;
    margin: 3px;
}

.rounded {
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
}

.light{
	width:95%;
	padding:1% 2% 1% 2%;
    background: url('../images/light-grey.jpg');
    margin-bottom: 5%;
}

.light input[type=text]{
	border:1px solid #acb1b7;
	background-color:#fcfcfc;
    width: 100%;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

#imgtext {
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    height: 180px;
    padding: 4px;
    background-color: rgba(142, 135, 135, 0.5);    
    font-size: 20px;
    font-family: Arial;
    color: black;
}

/*select character wheel css*/
#piemenu { width: 95%; height: auto; margin-left: auto; }

[class|=wheelnav-piemenu-slice-basic] { fill: #000000; stroke: white; stroke-width: 2; }
[class|=wheelnav-piemenu-slice-selected] { fill: #000000; stroke: green; stroke-width: 4;}
[class|=wheelnav-piemenu-slice-hover] { fill: #222;  stroke: white; cursor: pointer; }

[class|=wheelnav-piemenu-title-basic] { fill: #333; stroke: none; }
[class|=wheelnav-piemenu-title-selected] { fill: #fff; stroke: none; }
[class|=wheelnav-piemenu-title-hover] { fill: #222; stroke: none; cursor: pointer; }

.wheelnav-piemenu-marker { fill: #000000; stroke: green; stroke-width: 2; }

.buttonEmailFav {
    font-family: goc;
    src: url(../fonts/Game_of_Thrones.ttf);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    border: 6px solid black;
    color: black;
}

.arialText {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.gotBody {
    color: black;
    font-size: xx-large;
}

@font-face {
    url(../fonts/Game_of_Thrones.ttf);
}

/*progress indicator css*/
[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }

body {
    padding:0px;
    font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
}

/* get rid of those system borders being generated for A tags */
a:active {
    outline:none;
}

:focus {
    -moz-outline-style:none;
}



/* scrollable root element */
#wizard {
/*     background:#fff url(/media/img/gradient/h600.png) repeat scroll 0 0; */
/*     border:5px solid #789; */
    font-size:12px;
    height:450px;
    margin:0px auto;
    width:800px;
    overflow:hidden;
    position:relative;

    /* rounded corners for modern browsers */
/*
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
*/
}

/* scrollable items */
#wizard .items {
    width:20000em;
    clear:both;
    position:absolute;
}

/* single item */
#wizard .page {
	background: #e4e4e4;
    padding:20px 30px;
    width:730px;
    float:left;
}

/* title */
#wizard h2 {
    border-bottom:1px dotted #ccc;
    font-size:22px;
    font-weight:normal;
    margin:10px 0 0 0;
    padding-bottom:15px;
}

#wizard h2 em {
    display:block;
    font-size:14px;
    color:#666;
    font-style:normal;
    margin-top:5px;
}

/* input fields */
#wizard ul {
    padding:0px !important;
    margin:0px !important;
}

#wizard li {
    list-style-type:none;
    list-style-image:none;
    margin-bottom:25px;
}

#wizard label {
    font-size:16px;
    display:block;
}

#wizard label strong {
    color:#789;
    position:relative;
    top:-1px;
}

#wizard label em {
    font-size:11px;
    color:#666;
    font-style:normal;
}

#wizard .text {
    width:100%;
    padding:5px;
    border:1px solid #ccc;
    color:#456;
    letter-spacing:1px;
}

#wizard select {
    border:1px solid #ccc;
    width:94%;
    padding:4px;
}

#wizard label span {
    color:#b8128f;
    font-weight:bold;
    position:relative;
    top:4px;
    font-size:20px;
}

#wizard .double label {
    width:50%;
    float:left;
}

#wizard .double .text {
    width:93%;
}

#wizard .clearfix {
    clear:left;
    padding-top:10px;
}

#wizard .right {
    float:right;
}

/* validation error message bar */
#drawer {
    background:#fff url(/media/img/gradient/h80.png) repeat-x scroll 0 0;
    _background-color:#fff;
    overflow:visible;
    position:fixed;
    left:0;
    top:0;
    text-align:center;
    padding:15px;
    font-size:18px;
    border-bottom:2px solid #789;
    width:100%;
    display:none;
    z-index:2;
}

#wizard .error {
    border:1px solid red;
}

#wizard #status {
    margin:50px 10px !important;
    height:7px;
    background:#5f5f5f;
/*     padding-left:25px !important; */
}

#status li {
    margin: -10px 0px 0px 0px;
    padding: 0px;
    list-style-type:none;
    list-style-image:none;
    float:left;
    color:#fff;
/*     padding:10px 30px; */

	border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width: 30px; height: 30px; background-color: #5f5f5f;
}

#status li p {
	text-align: center;
	margin: -30px;
	padding: 0px;
	line-height: 30px;
	color: #5f5f5f;
	/*
position: absolute;
	left: 0;
	text-align: center;
	white-space: nowrap;
	transition: color 0.3s;
	-webkit-transition: color 0.3s;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding-top: 32px;
*/
}

#status li.active {
    background-color:#b8128f;
    font-weight:normal;
}


#status li.active p {
    color: #b51994;
}
